<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>上传作品</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width , initial-scale=1.0 , user-scalable=0 , minimum-scale=1.0 , maximum-scale=1.0"/>
    <script src="js/vue2.2.2.js"></script>
    <script type='text/javascript' src='js/jquery-2.0.3.min.js'></script>
    <script type='text/javascript' src='js/jquery.form.js'></script>
    <link href="css/upload.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<table id="table1">
    <tr><td align="left">提交者:</td><td><b>{{18913177805}}</b></td></tr>
    <tr><td align="left">标题<span style="color: red; ">*</span></td><td><input v-model="message" type="text" size="60">【<a href="/800.html" onclick="window.open(this.href,'','resizable=yes,location=no,menubar=no,scrollbars=yes,status=no,toolbar=no,fullscreen=no,dependent=no,width=1024,height=720,status'); return false">投稿审核标准</a>】</td></tr>
</table>
<div id="app">
    <div class="hello">
        <div class="upload">
            <div class="upload_warp">
                <div class="upload_warp_left" @click="fileClick">
                    <img src="./upload.png">
                </div>
                <div class="upload_warp_right" @drop="drop($event)" @dragenter="dragenter($event)"
                     @dragover="dragover($event)">
                    或者将文件拖到此处
                </div>
            </div>
            <div class="upload_warp_text">
                选中{{imgList.length}}张文件，共{{bytesToSize(this.size)}}
            </div>
            <input @change="fileChange($event)" type="file" id="upload_file" multiple style="display: none"/>
            <div class="upload_warp_img" v-show="imgList.length!=0">
                <div class="upload_warp_img_div" v-for="(item,index) of imgList">
                    <div class="upload_warp_img_div_top">
                        <div class="upload_warp_img_div_text">
                            {{item.file.name}}
                        </div>
                        <img src="./del.png" class="upload_warp_img_div_del" @click="fileDel(index)">
                    </div>
                    <img :src="item.file.src">
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width:940px;margin:10px auto;   overflow:hidden; margin-top:10px;">
    <form id='myupload' action='upload.php' method='post' enctype='multipart/form-data'>
        <input type="file" id="uploadphoto" name="uploadfile" value="请点击上传图片" style="display:none"
               onChange="filesize(this)"/>
    </form>

    <table width="100%" border="0" id="table" cellpadding="1" cellspacing="1">
        <tr bgcolor="#4a5464" align="center">
            <td width="27%">文件名</td>
            <td width="17%">文件大小</td>
            <td width="30%">上传进度</td>
            <td width="12%">上传状态</td>
            <td width="14%">操作</td>
        </tr>
        <tr id="list" style="background:url(css/bg.jpg); display:none;">
            <td>
                <div id="text"></div>
            </td>
            <td>
                <div id="big"></div>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped"><span class="percent">0%</span></div>
                </div>
            </td>
            <td>
                <div id="uped">等待上传</div>
            </td>
            <td><a href="javascript:viod(0)" id="del">移除</a></td>
        </tr>
    </table>
    <!--<div id="text"></div>
    <div class="imglist"> </div>
    <p class="res"></p> -->
</div>
<div id="upbt">
    <div id="btn"><input type="button" class="uploadbtn" value="选择文件" onClick="uploadphoto.click()" id="select"></div>
    <input type="button" value="开始上传" id="ups">
</div>
<div id="upload">
    注意：<br>
    1.图片格式：jpg、gif、png，上传图片数量 ≥4、≤40。<br>
    2.文档格式：rar、zip，限上传一个文档，≤1024Mb；
</div>
<!--图片上传脚本-->
<script>
    //  import up from  './src/components/Hello'
    var app = new Vue({
        el: '#app',
        data() {
            return {
                imgList: [],
                size: 0
            }
        },
        methods: {
            fileClick() {
                document.getElementById('upload_file').click()
            },
            fileChange(el) {
                if (!el.target.files[0].size) return;
                this.fileList(el.target.files);
                el.target.value = ''
            },
            fileList(files) {
                for (let i = 0; i < files.length; i++) {
                    this.fileAdd(files[i]);
                }
            },
            fileAdd(file) {
                this.size = this.size + file.size;//总大小
                let reader = new FileReader();
                reader.vue = this;
                reader.readAsDataURL(file);
                reader.onload = function () {
                    file.src = this.result;
                    this.vue.imgList.push({
                        file
                    });
                }
            },
            fileDel(index) {
                this.size = this.size - this.imgList[index].file.size;//总大小
                this.imgList.splice(index, 1);
            },
            bytesToSize(bytes) {
                if (bytes === 0) return '0 B';
                let k = 1000, // or 1024
                    sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                    i = Math.floor(Math.log(bytes) / Math.log(k));
                return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
            },
            dragenter(el) {
                el.stopPropagation();
                el.preventDefault();
            },
            dragover(el) {
                el.stopPropagation();
                el.preventDefault();
            },
            drop(el) {
                el.stopPropagation();
                el.preventDefault();
                this.fileList(el.dataTransfer.files);
            }
        }
    })
</script>
<!--文本上传脚本-->
<script type="text/javascript">
    function filesize(ele) {
        var filesize = (ele.files[0].size / 1024 / 1024).toFixed(2);
        $('#big').html(filesize + "MB");
        $('#text').html(ele.files[0].name);
    }

    $(document).ready(function (e) {
        var progress = $(".progress");
        var progress_bar = $(".progress-bar");
        var percent = $('.percent');
        $("#del").click(function () {
            var objFile = document.getElementsByTagName('input')[2];
            objFile.value = "";
            $("#list").hide();
        });
        $("#uploadphoto").change(function () {
            $("#list").show();
        });
        $("#ups").click(function () {
            var file = $("#uploadphoto").val();
            if (file != "") {
                $('#uped').html("上传中……");
                $("#myupload").ajaxSubmit({
                    dataType: 'json', //数据格式为json
                    beforeSend: function () { //开始上传
                        var percentVal = '0%';
                        progress_bar.width(percentVal);
                        percent.html(percentVal);
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                        var percentVal = percentComplete + '%'; //获得进度
                        progress_bar.width(percentVal); //上传进度条宽度变宽
                        percent.html(percentVal); //显示上传进度百分比
                    },
                    success: function (data) {
                        if (data.status == 1) {
                            var src = data.url;
                            $('#uped').html("上传成功");
                            //var attstr= '<img src="'+src+'">';
                            //$(".imglist").append(attstr);
                            //$(".res").html("上传图片"+data.name+"成功，图片大小："+data.size+"K,文件地址："+data.url);
                        } else {
                            $(".res").html(data.content);
                        }
                    },
                    error: function (xhr) { //上传失败
                        alert("上传失败");
                    }
                });
            } else {
                alert("请选择视频文件");
            }
        });

    });
</script>
</body>
</html>